{{ define "groups" }}
<div>
    {{ range $id, $group := . }}
    <div>
        <h4 class="title">{{ $group.Name }}</h4>
        <div>
            <div hx-get="/tasks?group=none&layout=options" hx-trigger="load" hx-swap="beforeend"
                 hx-target="#assign-task-to-{{ $id }}">
                <select id="assign-task-to-{{ $id }}"
                        name="assign-task" hx-put="/group/{{ $id }}/assign" hx-target="#main-view" hx-swap="innerHTML">
                    <option value="" disabled selected>Assign a task...</option>
                </select>
                <button class="button" title="delete group"
                        hx-delete="group/{{ $id }}" hx-target="#main-view" hx-swap="innerHTML">
                    <span class="icon has-text-danger is-small">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                </button>
            </div>
        </div>
        <div hx-get="/tasks?group={{ $id }}" hx-trigger="load" hx-swap="innerHTML"></div>
    </div>
    {{ end }}
    <div>
        <h4 class="title">No Group</h4>
        <div hx-get="/tasks?group=none" hx-trigger="load" hx-swap="innerHTML"></div>
    </div>
</div>
{{ end }}

{{ define "groups-options" }}
{{ range $id, $group := . }}
<option value="{{ $id }}">{{ $group.Name }}</option>
{{ end }}
{{ end }}