{{ define "modal-task-info" }}
<div id="modal" class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ .Name }}</p>
            <button class="delete" aria-label="close" hx-get="modal/inactive" hx-target="#modal" hx-swap="outerHTML"></button>
        </header>
        <section class="modal-card-body">
            {{ .Info }}
        </section>
        <div class="modal-card-foot">
            <button class="button is-link" aria-label="close" hx-get="modal/inactive" hx-target="#modal" hx-swap="outerHTML">Got it!</button>
        </div>
    </div>
</div>
{{ end }}