{{ define "tasks-table" }}
{{ template "modal-inactive" }}
<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
        <tr>
            <th>Group</th>
            <th>Name</th>
            <th>Freq</th>
            <th>Next</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{ range . }}
        <tr>
            <td id="group-task-{{ .Id }}"
                hx-get="task/{{ .Id }}/group/name" hx-swap="innerHTML" hx-trigger="load" hx-target="this"></td>
            <td>{{ .Name }}</td>
            <td>{{ .Period }}d</td>
            <td id="next-time-{{ .Id }}"
                hx-get="task/{{ .Id }}/next-time" hx-swap="innerHTML" hx-trigger="load" hx-target="#next-time-{{ .Id }}"></td>
            <td>
                <button class="button" title="mark as completed"
                        hx-put="task/{{ .Id }}/complete" hx-target="#next-time-{{ .Id }}" hx-swap="innerHTML">
                <span class="icon has-text-success">
                    <i class="fas fa-check"></i>
                </span>
                </button>
                <button class="button" title="unassign from the current group"
                        hx-put="task/{{ .Id }}/unassign" hx-target="#main-view" hx-swap="innerHTML">
                <span class="icon has-text-warning">
                    <i class="fas fa-object-ungroup"></i>
                </span>
                </button>
                <button class="button" title="edit task"
                        hx-get="forms/edit-task?id={{ .Id }}" hx-target="#main-view" hx-swap="innerHTML">
                    <span class="icon has-text-link">
                        <i class="fas fa-edit"></i>
                    </span>
                </button>
                <button class="button" title="delete task"
                        hx-delete="task/{{ .Id }}" hx-target="#main-view" hx-swap="innerHTML"
                        hx-confirm='Are you sure you want to delete "{{ .Name }}"?'>
                    <span class="icon has-text-danger">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                </button>
                <button class="button" title="description"
                        hx-get="modal/task-info?id={{ .Id }}" hx-target="#modal" hx-swap="outerHTML">
                    <span class="icon has-text-info">
                        <i class="fas fa-info"></i>
                    </span>
                </button>
            </td>
        </tr>
        {{ end }}
        </tbody>
    </table>
</div>
{{ end }}