{{ define "tasks-table" }}
<table class="border-collapse border table-auto text-sm">
    <thead>
    <tr>
<!--        <th class="p-1">Id</th>-->
        <th class="p-1">Name</th>
        <th class="p-1">Desc</th>
        <th class="p-1">Next Time</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{ range $id, $task := . }}
    <tr class="hover:bg-grey-lighter">
<!--        <td class=" p-1">{{ $id}}</td>-->
        <td class=" p-1">{{ $task.Name }}</td>
        <td class=" p-1">{{ $task.Description }}</td>
        <td class=" p-1" id="next-time-{{ $id }}"
            hx-get="task/{{ $id }}/next-time" hx-swap="innerHTML" hx-trigger="load"></td>
        <td class=" p-1">
            <button class="bg-green-200 p-1"
                    hx-put="task/{{ $id }}/complete" hx-target="#next-time-{{ $id }}" hx-swap="innerHTML">Done</button>
        </td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{ end }}

{{ define "tasks-options" }}
{{ range $id, $task := . }}
<option value="{{ $id }}">{{ $task.Name }}</option>
{{ end }}
{{ end }}