{{ define "tasks-table" }}
<div class="table-container">
<table class="table is-striped is-hoverable is-fullwidth">
    <thead>
    <tr>
        <th >Name</th>
        <th >Desc</th>
        <th >Next Time</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{ range $id, $task := . }}
    <tr>
        <td>{{ $task.Name }}</td>
        <td>{{ $task.Description }}</td>
        <td id="next-time-{{ $id }}"
            hx-get="task/{{ $id }}/next-time" hx-swap="innerHTML" hx-trigger="load"></td>
        <td>
            <button class="button"
                    hx-put="task/{{ $id }}/complete" hx-target="#next-time-{{ $id }}" hx-swap="innerHTML">
                <span class="icon has-text-success">
                    <i class="fas fa-check"></i>
                </span>
            </button>
        </td>
    </tr>
    {{ end }}
    </tbody>
</table>
</div>
{{ end }}

{{ define "tasks-options" }}
{{ range $id, $task := . }}
<option value="{{ $id }}">{{ $task.Name }}</option>
{{ end }}
{{ end }}