{{define "title"}}new task{{end}}

{{define "content"}}
<form class="task-form" id="form-add-task" hx-post="/task" hx-swap="none">

    <div class="task-form-item">
        <label class="label" for="name">Name</label>
        <input class="input" type="text" name="name" id="name">
    </div>

    <div class="task-form-item">
        <label class="label" for="description">Description</label>
        <input class="input" type="text" name="description" id="description">
    </div>

    <div class="task-form-item">
        <label class="label" for="period">Period (days)</label>
        <input class="input" type="number" name="period" id="period">
    </div>

    <div class="task-form-item">
        <button type="submit">
            <span><i class="fas fa-paper-plane"></i>submit</span>
        </button>
    </div>

    </div>
</form>
{{end}}