{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <div id="main-container">

        <nav id="topbar">
            <div id="topbar-brand" class="brand">
                <a href="/">peverel</a>
            </div>
            <div id="topbar-buttons">
                <button class="topbar-button" onclick="location.href='/'" type="button" title="tasks">
                    <span><i class="fas fa-list-check"></i></span>
                </button>
                <button class="topbar-button" onclick="location.href='/settings'" type="button" title="settings">
                    <span><i class="fas fa-tools"></i></span>
                </button>
            </div>
        </nav>

        <main hx-get="/page/{{ .Content }}" hx-trigger="load"></main>

    </div>
</body>

</html>
{{ end }}