{{define "page/edit-task"}}
<form class="task-form" id="form-edit-task" hx-put="/task/{{ .Id }}" hx-swap="none">

    <div class="task-form-item">
        <label class="label" for="name">Name</label>
        <input class="input" type="text" name="name" id="name" value="{{ .Name }}">
    </div>

    <div class="task-form-item">
        <label class="label" for="description">Description</label>
        <input class="input" type="text" name="description" id="description" value="{{ .Description }}">
    </div>

    <div class="task-form-item">
        <label class="label" for="period">Period (days)</label>
        <input class="input" type="number" name="period" id="period" value="{{ .Period }}">
    </div>

    <!-- <div class="task-form-item">
        <label class="label" for="group-select">Group</label>
        <select id="group-select" name="group">
            <option value="" selected>Select a group...</option>
            <option hx-get="/groups?layout=options" hx-trigger="load" hx-swap="outerHTML"></option>
        </select>
    </div> -->

    <div class="task-form-item">
        <button type="submit">
            <span><i class="fas fa-paper-plane"></i>submit</span>
        </button>
    </div>

    </div>
</form>
{{end}}