{{define "task-form"}}
<div class="hero">
    <header class="hero-head title is-1 has-text-centered">
        {{ if .Id }} Edit task {{ .Id }} {{ else }} Add a new task {{ end }}
    </header>
    <div class="hero-body">
        <form {{ if .Id }} hx-put="/task/{{ .Id }}" {{ else }} hx-post="/task" {{ end }}
              hx-target="#main-view" hx-swap="innerHTML">

            <div class="field">
                <label class="label" for="name">Name</label>
                <div class="control">
                    <input class="input" type="text" name="name" id="name"
                           {{ if .Name }} value="{{ .Name }}" {{ end }}>
                </div>
            </div>

            <div class="field">
                <label class="label" for="description">Description</label>
                <div class="control">
                    <input class="input" type="text" name="description" id="description"
                           {{ if .Description }} value="{{ .Description }}" {{ end }}>
                </div>
            </div>

            <div class="field">
                <label class="label" for="period">Period (days)</label>
                <div class="control">
                    <input class="input" type="number" name="period" id="period"
                           {{ if .Period }} value="{{ .Period }}" {{ end }}>
                </div>
            </div>

            <div class="field">
                <label class="label" for="group-select">Group</label>
                <div class="control">
                    <div class="select"
                         hx-get="/groups?layout=options" hx-trigger="load" hx-swap="beforeend" hx-target="#group-select">
                        <select id="group-select" name="group">
                            <option value="-1" selected>None</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{{end}}