:root {
    --fg: rgb(26, 26, 26);
    --bg: rgb(230, 230, 230);
    --accent: rgb(172, 8, 172);
    /* --bg: rgb(30, 26, 19); */
    /* --fg: rgb(253, 241, 220); */
    /* --accent: rgb(8, 98, 172); */
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    margin: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100dvw;
    height: 100dvh;
    padding: 1px;
}

#topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex: 0 0 auto;
    padding: 5px;

    background-color: var(--fg);
    color: var(--bg);
}

.brand {
    color: var(--accent);
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}

#topbar-brand {
    font-size: x-large;
    padding: 10px;
}

#topbar-brand a {
    color: inherit;
}

.topbar-button {
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: large;
}

.topbar-button:hover {
    color: var(--accent);
}

main {
    overflow: scroll;
    flex: 1 1 auto;
    padding: 15px;
}

.task-desc {
    color: var(--accent);
}

.tasks-table-compact {
    width: 100%;
}

.tasks-table-compact td, th {
    padding: 5px;
}

.tasks-table-compact tr:nth-child(even) {
    background-color: color-mix(in srgb, var(--accent) 6%, var(--bg) 94%);
}

.tasks-table-compact tr:nth-child(odd) {
    background-color: color-mix(in srgb, var(--accent) 12%, var(--bg) 88%);
}

.tasks-table-compact tr:hover {
    background-color: color-mix(in srgb, var(--accent) 40%, var(--bg) 60%);
}

.tasks-table-compact button {
    background-color: inherit;
    cursor: pointer;
    border: none;
    font-size: x-large;
    padding: 5px;
}

.tasks-table-compact button:hover {
    color: var(--accent);
}

.task-confirm-button {
    color: green;
}

.task-info-button {
    color: blue;
}

#settings-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#settings-buttons button {
    cursor: pointer;
    background-color: inherit;
    color: inherit;
    padding: 5px;
    margin: 10px;
    border: none;

    font-size: xx-large;
}

#settings-buttons button:hover {
    color: var(--accent);
}

.task-form {
    display: flex;
    flex-direction: column;
}

.task-form-item {
    margin: 10px;
}

.task-form button {
    background-color: inherit;
    cursor: pointer;
    border: none;
    font-size: x-large;
    margin: 15px;
    padding: 5px;
}

.task-form button:hover {
    color: var(--accent);
}

